## Mac

.DS_Store

## Yarn

node_modules
.yarn/

## Submodule contents (for ignoring in VSCode search results)

submodules/**

## TypeScript

*.tsbuildinfo

## Test Coverage

.coverage

## Build Products

dist/
lib/
